@import "./carousel.css";
@import "./dateTimePicker.css";
@import "./footer.css";
@import "./nav.css";
@import "./button.css";
@import "./pagination.css";

html, body {
  height: 100%;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #222;
  background-color: #f8f9fa;
}

.replist {
  border-radius: 25px;
}

.form-wrapper {
  padding-left: 10%;
  padding-right: 10%;
}

.login-form-wrapper {
  position: absolute;
  top:70%;
  transform: translateY(-50%);
  width: 30%;
}

.mb-15 {
  margin-bottom: 15px;
}

.content-wrapper {
  min-height: 200px;
  margin-top: 100px;
}

.nav {
  margin-bottom: 50px;
}

.nav a {
  color:black;
}
.nav li {
  border-bottom: 2px solid transparent;
}
li.active {
  border-bottom: 2px solid black;
}
.nav li:hover {
  border-bottom: 2px solid black;
}

.btn.btn-border {
  color:black;
  border: 2px solid black;
}

.btn.btn-projection {
  color:black;
}

.btn.btn-week {
  cursor: pointer;
  color:black;
  text-align: center;
  margin-left: 83px;
  padding: 10px;
}

.btn.btn-imdb {
  max-width: 80px;
}

.btn.btn-get-tickets {
  margin-top: 10px;
  margin-bottom: 10px;
}

.replist .img-fluid {
  height: auto;
  max-width: 200px;
}

.horizontal-line {
  height: 1px;
  background-color: black;
  margin-top: 80px;
}

.container-youtube {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.container-youtube iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.pl-20 {
  padding-left: 20px;
}

.pb-2 {
  padding-bottom: 2px;
}

.valid {
  text-align: center;
  position: relative;
  margin-bottom: 1px;
} .valid-danger{
  color: rgb(245, 58, 58);
  background-color: rgb(247, 229, 229);
}

.lds-roller {
  display: inline-block;
  position: relative;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
  z-index: 10000;
  width: 64px;
  height: 64px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #000000;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 27px;
    line-height: 32px;
  }
  h2 {
    font-size: 21px;
    line-height: 26px;
  }
}
/* .menu-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 10rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
      margin-top: 0.125rem;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
} */

.hall {
  padding-left: 7%;
}

.seat-taken {
  -webkit-mask: url('../img/seat.svg') no-repeat 60% 60%;
  mask: url('../img/seat.svg') no-repeat 60% 60%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: #ba1818;
  mask-size: 70px 50px;
  float: left;
  text-align: center;
  margin: 1px;
  line-height: 50px;
  width: 9%;
  height: 50px;
  border: none;
  color: #ffffff;
  cursor: not-allowed;
  margin-bottom: 10px;
  font-size: 25px;
}
.seat-avaliable {
  -webkit-mask: url('../img/seat.svg') no-repeat 60% 60%;
  mask: url('../img/seat.svg') no-repeat 60% 60%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: #149e14;
  mask-size: 70px 50px;
  float: left;
  text-align: center;
  margin: 1px;
  line-height:50px;
  width: 9%;
  height:  50px;  
  border: none;
  background-size: 80px 65px;
  color: #ffffff;
  margin-bottom: 10px;
  font-size: 25px;
}
.seat-selected {
  -webkit-mask: url('../img/seat.svg') no-repeat 60% 60%;
  mask: url('../img/seat.svg') no-repeat 60% 60%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: #2945a8;
  mask-size: 70px 50px;
  float: left;
  text-align: center;
  margin: 1px;
  line-height:50px;
  width: 9%;
  height:  50px;  
  border: none;
  background-size: 80px 65px;
  color: #ffffff;
  margin-bottom: 10px;
  font-size: 25px;
}
.seat-number {
  display: inline-block;
  position: relative;
  top: -8px;
}
.row-number  {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 7%;
}
.row-number span {
  display: block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 2px;
  font-size: 20px;
  margin-bottom: 10px;
}
.content-wrapper {
  position: relative;
}

.box-shadow {
  -webkit-box-shadow: 18px 10px 38px 15px rgba(0,0,0,0.8);
-moz-box-shadow: 18px 10px 38px 15px rgba(0,0,0,0.8);
box-shadow: 18px 10px 38px 15px rgba(0,0,0,0.8);
}