@import "./alice-carousel.css";

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  margin:0;
  padding: 0;
}

.replist {
  border-radius: 25px;
}

.login-form-wrapper {
  position: absolute;
  top:70%;
  transform: translateY(-50%);
  width: 30%;
}

.rdt {
  margin-bottom: 15px;
}

.content-wrapper {
  min-height: 200px;
  margin-top: 100px;
}

.nav {
  margin-bottom: 50px;
}

.nav a {
  color:black;
}

li.active {
  border-bottom: 2px solid black;
}
.nav li:hover {
  border-bottom: 2px solid black;
}

.btn.btn-movie {
    color:black;
    border: 2px solid black;
    position: absolute;
    top: 85%;
    left:85%;
    transform: translate(-50%, -50%);
}

.btn.btn-projection {
  color:black;
}

.btn.btn-week {
  cursor: pointer;
  color:black;
  text-align: center;
  margin-left: 83px;
  padding: 10px;
}

.btn.btn-imdb {
  max-width: 80px;
}

.replist .img-fluid {
  height: auto;
  max-width: 200px;
}

.horizontal-line {
  height: 1px;
  background-color: black;
  margin-top: 80px;
}

.container-youtube {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.pl-20 {
  padding-left: 20px;
}